<a href="https://colab.research.google.com/github/Dipomitagenz/Data-structure-assignment-2/blob/main/Data_Structure_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*italicized text*

**What are data structures, and why are they important?**

Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

Choosing the right data structure significantly impacts the efficiency and performance of your program.Well-chosen data structures can simplify data manipulation eg- adding, removing, modifying elements

**Explain the difference between mutable and immutable data types with examples.**

In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable). Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot. Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python programs.

**What are the main differences between lists and tuples in Python.**

In lists,you can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing .In tuples,you can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

**Describe how dictionaries store data.**

These are the mentioned ways how dictionary stores data- Unordered collections: Elements are not stored in a specific order.Unique key-value pairs: Each key acts as a unique identifier for retrieving an associated value.Flexible data: Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries)

**Why might you use a set instead of a list in Python?**

3 Reasons to Use Sets over Lists. 1) Understanding when and where each container is appropriate.2)Order doesn't matter. Unlike lists, sets do not store ordered data.3)Duplicates are irrelevant. By definition, sets cannot contain duplicates.Processing speed matters.

**What is a string in Python, and how is it different from a list?**

Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.).Hence string is there in python

In lists, you can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change. where in strings, Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.

**How do tuples ensure data integrity in Python?**

Tuples ensure data integrity in Python,you can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.Imagine a museum exhibit with artifacts in a fixed display case. These artifacts (data) are fixed in their place (immutable) and cannot be rearranged or removed, ensuring their preservation.

**What is a hash table, and how does it relate to dictionaries in Python?**

In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

**Can lists contain different data types in Python?**

In Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

**Explain why strings are immutable in Python?**

Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc. Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.).

**What advantages do dictionaries offer over lists for certain tasks?**

Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.

**Describe a scenario where using a tuple would be preferable over a list.**

Imagine a museum exhibit with artifacts in a fixed display case. These artifacts (data) are fixed in their place (immutable) and cannot be rearranged or removed, ensuring their preservation.Here a tuple would be preferable over a list.

**How do sets handle duplicate values in Python?**

Sets in Python are unordered collections of unique elements. By their nature, duplicates aren't allowed. Therefore, converting a list into a set removes the duplicates.

**How does the “in” keyword work differently for lists and dictionaries?**

The in operator in Python checks if a specified value exists within a sequence, such as a list, tuple, or string. In Python, the in keyword also helps iterate over sequences in for loops (link).The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm.

**Can you modify the elements of a tuple? Explain why or why not?**

In tuple once created, the items in a tuple cannot be changed.They provide a secure way to store data that shouldn't be modified. You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

**What is a nested dictionary, and give an example of its use case?**

A nested dictionary is a dictionary where the values are themselves dictionaries. It's essentially a dictionary within a dictionary, allowing for complex data structures with multiple levels of organization.A use case is storing employee records, where each employee's details can be nested within a dictionary that organizes employees by department.

**Describe the time complexity of accessing elements in a dictionary?**

Time and space complexity of dictionaries:Accessing a value by key: O(1) on average, O(n) worst case if there are many collisions. Adding a key-value pair: O(1) on average, O(n) worst case if the dictionary needs to be resized. Modifying a value by key: O(1) on average, O(n) worst case if there are many collisions

**In what situations are lists preferred over dictionaries?**

For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

**Why are dictionaries considered unordered, and how does that affect data retrieval?**

A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

**Explain the difference between a list and a dictionary in terms of data retrieval.**

List is An ordered collection of items.Dictionary is An unordered collection of data in a key: value pair form.Lists Uses square brackets [].Dictionary Uses curly braces {}.In list Items have a defined order, which will not change.In dictionary Items do not have a defined order.In list Items can be modified after creation.Indictionary Values can be updated, and key: value pairs can be added or removed.List can store any data type.In dictionary Keys can be of any immutable data type (e.g., strings, numbers, tuples). Values can be of any type.Example of lists-fruits = [“apple”, “banana”, “cherry”]. Examples of dictionary person = {“name”: “John”, “age”: 30}

**Write a code to create a string with your name and print it.**

In [1]:
a=("Dipomita")
print(a)

Dipomita

**Write a code to find the length of the string "Hello World".**

In [1]:
string = "Hello world"
length = len(string)
print(length)

11

**Write a code to slice the first 3 characters from the string "Python Programming"P**

In [5]:
s= "python programming"
print(s[0:3])

pyt

**Write a code to convert the string "hello" to uppercase.**

In [6]:
s="hello"
res=s.upper()
print(res)

HELLO

**Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
a= ["I like apple"]
a =[s.replace('apple', 'orange')for s in a]
print(a)

['I like orange']

**Write a code to create a list with numbers 1 to 5 and print it.**

In [8]:
r1=1 #range1
r2=5 #range2

li=[i for i in range(1, 5)]
print(li)

[1, 2, 3, 4]

**Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [10]:
Input = [1, 2, 3, 4, 5]
a= [3]
removed_list = [i for i in Input if i not in a]
print(removed_list)

[1, 2, 4, 5]

**Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [11]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

**Write a code to reverse the list [10, 20, 30, 40, 50]**

In [12]:
a = [10, 20, 30, 40, 50]

# Reverse the list in-place
a.reverse()
print(a)

[50, 40, 30, 20, 10]

**Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

**Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [15]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [16]:
animals = ('dog', 'cat', 'rabbit')
index= animals.index('cat')
('The index of cat:', index)

('The index of cat:', 1)

**Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [17]:
thistuple = ( "cherry", "orange", "kiwi")
(thistuple[:2])

('cherry', 'orange')

**Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [18]:
my_set = {'a', 'b', 'c'}
(my_set)

{'a', 'b', 'c'}

**Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
(my_set)

set()

**Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [20]:
my_set = {1, 2, 3, 4}
my_set.discard(4)
(my_set)

{1, 2, 3}

**Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [21]:
A = {1, 2, 3}
B = {3, 4, 5}
('A U B = ', A.union(B))

('A U B = ', {1, 2, 3, 4, 5})

**Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [22]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection = set1.intersection(set2)

(intersection)

{2, 3}

**Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [23]:
sample_dict ={'name': 'Dipomita' , 'age':27 ,'city':'Hamiltonganj'}
keys_list = [key for key in sample_dict]
(keys_list)

['name', 'age', 'city']

**Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [24]:
sample_dict ={'name': 'John' , 'age':25 ,'country':'USA'}
(sample_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [25]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
(name_value)

'Alice'

**Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [26]:
my_dict = {"name": "Bob", "age": 22}
del my_dict["age"]
(my_dict)

{'name': 'Bob'}

**Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [27]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print(my_dict["city"])

Paris

**Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [28]:
my_list = ['Car', 'Bus', 'Train', 'Ship']

print(my_list)

['Car', 'Bus', 'Train', 'Ship']

In [29]:
my_tuple = (1, 2, 3, 4 ,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [30]:
my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

**Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [31]:
numbers = [2,4,17,97,82]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [2, 4, 17, 82, 97]

**Write a code to create a list with strings and print the element at the third index.**

In [32]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[2])

cherry

**Write a code to combine two dictionaries into one and print the result.**

In [33]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

**Write a code to convert a list of strings into a set.**

In [34]:
s = "Geeks"

print(type(s))
print(s)

# Convert String to Set
set_s = set(s)

print(type(set_s))
print(set_s)

<class 'str'>
Geeks
<class 'set'>
{'k', 's', 'G', 'e'}